@import "../../../styles/styles.scss";

.header {
  background-color: $clr3;
  color: $clr5;
  .logo{
    margin-top: 4px;
    letter-spacing: rem(3px);
  }
  .navbar {
    grid-auto-flow: column;
  }
  .header-nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    .nav-links-container {
      flex: 1;
      height: 100%;
      align-content: center;
      font-size: rem(36px);
      margin-bottom: rem(9px);
      letter-spacing: rem(2px);
    }
  }
}
